/* Projects.module.css */
.projectCard {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  background-color: #2e2e2e;
  border: none;
}

.projectCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.projectTitle {
  color: #ffd700;
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  color: wheat;
  font-size: 1rem;
  margin-top: 10px;
}

.projectImg {
  height: 200px;
  object-fit: cover;
  border-bottom: 5px solid #ffd700;
}

.projectsTitle {
  text-align: center;
  color: #ffd700;
  margin-bottom: 30px;
  font-size: 2rem;
}
