.experienceContainer {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .experienceTitle {
    color: goldenrod;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .listGroupCustom {
    border-radius: 8px;
  }
  
  .listGroupItemCustom {
    background-color: #3e3e3e;
    border: none;
    color: wheat;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 20px;
  }
  
  .positionTitle {
    color: gold;
    font-weight: bold;
    
  }
  
  .companyName {
    font-style: italic;
  }
  
  .descriptionText {
    text-align: justify;
  }
  